<!-- HOME SCREEN AND MENU -->
<div #menu class="mask flexCentered" *ngIf="menu" [@clickevent]>
    <h1>Seven</h1>
    <h2>Deadly Sins</h2>
      <h4 (click)="toggleSin()"><a>Sins</a></h4>
      <h4 (click)="toggleHistory()"><a>History</a></h4>
      <h4 (click)="toggleArts()"><a>Inspired Arts</a></h4>
  <div class="credits">
    <h6>Art: <a class="highlightLink" target="_blank" href="https://www.deviantart.com/dahlig">Marta Dahlig</a></h6>
    <h6>Content: <a class="highlightLink" target="_blank" href="https://en.wikipedia.org/wiki/Seven_deadly_sins">Wikipedia</a></h6>
  </div>
</div>

<div>
<!-- FIXED HEADER -->
  <header id="title">
    <h4 *ngIf="menuOpen">Seven Deadly Sins</h4>
    <div *ngIf="menuOpen" (click)="toggleMenu()"><a>MENU</a></div>
  </header>

<!-- LITURATURE CONTENT -->
  <div #arts class="mask columnCentered" *ngIf="arts" [@clickevent]>
    <div class="litContent" *ngFor="let info of liturature">
      <div class="">
        <h3>{{info.title}}</h3>
        <p>{{info.content}}</p>
      </div>
      <div class="bookDisplay" *ngFor="let subpic of info['books']">
        <div class="pushLeft90">
          <h5>{{subpic.title}}</h5>
          <p>{{subpic.info}}</p>
        </div>
        <div>
          <img class="book" [src]="subpic.img" alt="" />
        </div>
      </div>
    </div>
  </div>

<!-- HISTORY CONTENT -->
  <div #history class="mask columnCentered" *ngIf="history" [@clickevent]>
    <div class="histContent" *ngFor="let info of his">
      <div class="stretchColumn">
        <img *ngFor="let sublist of info['pics']" [src]="sublist.img" alt="" />
      </div>
      <div class="pushLeft90">
        <h3>{{info.title}}</h3>
        <div *ngFor="let mylist of info['paras']">
          <p>{{mylist.content}}</p>
        </div>
      </div>
    </div>
  </div>

<!-- CARDS -->
  <div class="table">
<!-- CARD CONTENT -->
    <div *ngIf="sins">
      <app-sins></app-sins>
    </div>
<!-- ALL CARDS -->
    <div class="cardsLayedOut">
      <a *ngFor="let sin of modelwork" [routerLink]="['/sin', sin.id]">
        <img class="card" [ngStyle]="rotateCards()" *ngFor="let sublist of sin.content" [src]="sublist.card" />
      </a>
    </div>

  </div>

</div>
